---
import Layout from '../layouts/Layout.astro';
import About from '../components/AboutCard.astro';
import Intro from '../components/IntroCard.astro';
import Skills from '../components/SkillsCard.astro';
import Projects from '../components/ProjectsCard.astro';
import Portrait from '../components/Portrait.astro';
import Work from '../components/WorkCard.astro';
import Education from '../components/EducationCard.astro';
import Volunteering from '../components/VolunteeringCard.astro';
import Talks from '../components/TalkCard.astro';
---

<Layout title='CASSANDRA'>
  <main class='grid md:grid-cols-2 text-xl lg:mt-8 lg:mx-16 relative z-50'>
    <div>
      <Intro />
      <section>
        <About />
        <Skills />
        <Work />
        <Volunteering />
        <Talks />
      </section>
    </div>

    <section class='lg:mx-4 lg:my-16 flex flex-col'>
      <Portrait />
      <Projects />
      <Education />
    </section>
  </main>
</Layout>
