<div class='border border-black mx-4 my-16 bg-white'>
  <div class='border-b border-black flex'>
    <div
      class='border-r border-solid border-black p-1 flex justify-center w-9 h-9'>
      &hearts;
    </div>
    <slot name='navigation' />
  </div>
  <slot name='card-context' />
  <slot name='card-body' />
</div>
