---
import Card from '../components/Card.astro';
---

<Card>
  <p
    slot='navigation'
    class='border-r border-solid border-black justify-center px-4 flex items-center' data-cy="intro-tag">
    INTRO
  </p>
  <h1 slot='card-context' class='m-4 font-bold text-4xl' data-cy="title">CASS</h1>
  <p slot='card-body' class='m-4' data-cy="label">front end / full stack / web / community</p>
</Card>
