---
import Card from '../components/Card.astro';
import ProjectDetails from '../components/ProjectDetails.astro';
---

<Card
  title="I've worked on a handful of production applications and I sometimes work on my own projects for fun.">
  <p
    slot='navigation'
    class='border-r border-solid border-black justify-center px-4 flex items-center' data-cy="project-tag">
    PROJECTS
  </p>
  <p slot='card-context' class='m-4' data-cy="project-title">
    I have had the opportunity to work on several production applications in my
    career. I also occassionally work on personal projects for fun.
  </p>
  <ul slot='card-body' class='m-4'>
    <ProjectDetails
      title='Insurance Mental Health Provider Finder'
      tech='React, MUI, Node, Express, Objection.js, Sequelize, MSSQL, MapBox, Mocha, Chai, React Testing Library'>
      <p class='my-2 text-lg'>
        I worked on a team of 2 developers, one product manager, and mental
        health staff from the client company created a wizard style application
        to quickly allow users to access mental health assistance, particularly
        during crisis events. This application alllowed for users to directly
        communicate with potential providers, book appointments, and find care.
      </p>

      <p class='my-2 text-lg'>
        As one of two developers, I was challenged with delivering much of the
        wizard functionality which involved interfacing with the client company
        APIs and SMTP. I utilized JSS to style the application according to the
        client company design specs. I often paired with the other developer on
        particularly challenging sections of the application, such as map
        functionality. I continually delivered my stories fully tested and
        cleaned on time for each sprint. I also got the opportunity to not only
        present my work to the clients every sprint, but also brainstorm with
        the clients to uncover the features their users needed.
      </p>
    </ProjectDetails>
    <ProjectDetails
      title='Higher Education Career Finder and College Readiness Tracker'
      tech='React, JSS, Node, TypeScript, Express, Objection.js, Sequelize, PostgreSQL, Cypress, Mocha, Chai, AWS Ecosystem, AWS Cognito'>
      <p class='my-2 text-lg'>
        I acted as a tech lead for a team of 4 developers, one product manager,
        and the client company to create a wizard style career finder which
        utilized a psychology-based algorithm to match users to a set of
        careers. This application also contained a tracker for high school
        students to prepare for college.
      </p>
      <p class='my-2 text-lg'>
        I was tasked with reviewing code from the other 3 developers, acting as
        architect, completing features, and mentoring the other developers. I
        continually identified and fixed issues and worked to future-proof the
        application. I implemented continuous integration and deployment for
        this project, as well.
      </p>
    </ProjectDetails>
    <ProjectDetails
      title='Law Enforcement and Prosecution Visualization and Charting'
      tech='Vue, Vuex, D3, Serverless, Vue Test Utils, AWS Ecosystem'
    />
    <ProjectDetails
      title='Building Efficiency Graphing Tool'
      tech='Vue, Vuex, D3, Karma'
    />
    <ProjectDetails
      title='Personal Project: Individual Learning Tracking System'
      tech='Next.js, TypeScript, React, Node, Prisma, PostgreSQL, Vercel'>
      <p class='my-2 text-lg'>
        This project was designed to help learners track their progress and
        reach their goals. It can be difficult to know if you have mastered a
        concept or not. This tool allows users to share objective-based learning
        plans and resources and also track the courses and work they have
        completed in order to better know if mastery or proficiency has been
        acheived.
      </p>
    </ProjectDetails>
  </ul>
</Card>
