---
import Card from '../components/Card.astro';
---

<Card>
  <p
    slot='navigation'
    class='border-r border-solid border-black justify-center px-4 flex items-center' data-cy="talks-tag">
    TALKS
  </p>
  <h1 slot='card-context' class='m-4' data-cy="talks-title">
    I like to give meetup and conference talks whenever I am able to!
  </h1>
  <div slot='card-body' class='m-4 list-disc'>
    <ul class='m-4 list-disc' data-cy="talks-list">
      <li class='ml-4 mb-4'>
        <a
          class='italic'
          href='https://www.meetup.com/DenverScript/events/dzlpnsyccmblc/'
          target='_blank'
          rel='noopener noreferrer'>What is the Serverless Framework Anyways?</a
        >
        <p class='text-lg'>September, 2021</p>
      </li>
      <li class='ml-4 mb-4'>
        <a
          class='italic'
          href='https://www.meetup.com/DenverScript/events/schtzrycckbkc/'
          target='_blank'
          rel='noopener noreferrer'>
          React and the Paradox of Choice
        </a>
        <p class='text-lg'>July, 2021</p>
      </li>
      <li class='ml-4 mb-4'>
        <a
          class='italic'
          href='https://www.meetup.com/node-js-denver-boulder/events/ktpcnryccgbtb/'
          target='_blank'
          rel='noopener noreferrer'>
          Front End Showdown - Vue
        </a>
        <p class='text-lg'>April, 2021</p>
      </li>
      <li class='ml-4 mb-4'>
        <a
          class='italic'
          href='https://www.meetup.com/Denver-Vue-js-Meetup/events/wpwwnrybcfbfc/'
          target='_blank'
          rel='noopener noreferrer'>
          Build a Chart with Vue-centric D3
        </a>
        <p class='text-lg'>March, 2020</p>
      </li>
      <li class='ml-4 mb-4'>
        <a
          class='italic'
          href='https://www.meetup.com/Denver-Vue-js-Meetup/events/wpwwnrybcfbfc/'
          target='_blank'
          rel='noopener noreferrer'>
          Front End Showdown - Vue
        </a>
        <p class='text-lg'>September, 2019</p>
      </li>
      <li class='ml-4 mb-4'>
        <a
          class='italic'
          href='https://twitter.com/dvlpdnvr/status/1154522975665659908?s=20'
          target='_blank'
          rel='noopener noreferrer'>
          It's a Beautiful Day in the Neighborhood
        </a>
        <p class='text-lg'>August, 2019</p>
      </li>
      <li class='ml-4 mb-4'>
        <a
          class='italic'
          href='https://www.meetup.com/Denver-Vue-js-Meetup/events/ltwpwmyzkbdc/'
          target='_blank'
          rel='noopener noreferrer'>
          Vue Slots in 8 Minutes or Less (Also given at DVLP DNVR 2019)
        </a>
        <p class='text-lg'>July, 2019</p>
      </li>
      <li class='ml-4 mb-4'>
        <a
          class='italic'
          href='https://youtu.be/XUvXb3393ZY'
          target='_blank'
          rel='noopener noreferrer'>
          On Transitioning Into Web Development and Being a Noob Again
        </a>
        <p class='text-lg'>October, 2018</p>
      </li>
    </ul>
  </div>
</Card>
