---
import Card from '../components/Card.astro';
---

<Card>
  <p
    slot='navigation'
    class='border-r border-solid border-black justify-center px-4 flex items-center' data-cy="volunteer-tag">
    VOLUNTEER EXPERIENCE
  </p>
  <ul slot='card-body' class='m-4 list-disc' data-cy="volunteer-list">
    <li class='ml-4'>
      <p class='italic'>
        DenverScript - MeetUp Co-organizer
      </p>
      <p class='text-lg'>2023-current</p>
    </li>
    <li class='ml-4 mt-4'>
      <p class='italic'>
        Develop Denver Conference - Content and Education Team, Planning Team,
        Developer
      </p>
      <p class='text-lg'>2018-2020</p>
    </li>
    <li class='ml-4 mt-4'>
      <p class='italic'>
        ChickTech - JavaScript Facilitator / Workshop Assistant
      </p>
      <p class='text-lg'>2018-2020, 2023</p>
    </li>
  </ul>
</Card>
